<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Show</h1>

    </header>
    <main>

        <% for (expense of expenses){%>
            <article>
                <a href="/expense/<%=expense._id%>">
                    <h2> Title : <%= expense.title%></h2>
                </a>
                <!-- <h3>Receipt Image: <img src="<%= expense.receipt %>" alt="Receipt Image"></h3>
                <h3>image <%= expense.receipt %></h3> -->

            </article>
        <%}%>
        <a href="/expense/new">New Expense</a>
        <a href="/user/logout"><button>Logout</button></a>
    </main>
</body>
</html>