<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <header class="img-container">
            <img src="/images/index.png">
    </header>
    <div class="btn-container">
            <a href="/expense"><button class="btn-log">Home</button></a>
            <a href="/user/logout"><button class="btn-log">Logout</button></a>
    </div>
    <main>
        <div class="new-body-container">
            <form action="/expense" method="post">
                <label>Title: <input type="text" name="title" placeholder="enter title"/></label>
                 <label>Category:
                     <select name="category">
                        <option value="">Select a category</option>
                        <option value="Food" <%= expense.category === 'Food' ? 'selected' : '' %>>Food</option>
                        <option value="Utilities" <%= expense.category === 'Utilities' ? 'selected' : '' %>>Utilities</option>
                        <option value="Insurance" <%= expense.category === 'Insurance' ? 'selected' : '' %>>Insurance</option>
                     </select>
                 </label>
                <label>Amount: <input type="number" step="any" name="amount" placeholder="enter amount"/></label>
                <label>Date: <input type="date" name="date" /></label>
                <label>Description: <input type="text" name="description" placeholder="enter description"/></label>
                <label>Receipt Image: <input type="text" name="receipt" placeholder="receipt image" /></label>
                <input class="btn-log" type="submit" value="Create" />
            </form>
        </div>
    </main>
</body>
</html>

