<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body>
    <header class="img-container">
            <img src="/images/index.png">
    </header>
    <div class="btn-container">
            <a href="/expense"><button class="btn-log">Home</button></a>
            <a href="/user/logout"><button class="btn-log">Logout</button></a>
    </div>
    <main>
        <div class="new-body-container">
            <form action="/expense" method="post">
                <label>Title: <input type="text" name="title" placeholder="enter title"/></label>
                <label>Ctegory: <input type="text" name="category" placeholder="enter title"/></label>
                <label>Amount: <input type="number" name="amount" placeholder="enter amount"/></label>
                <label>Date: <input type="date" name="date" /></label>
                <label>Description: <input type="text" name="description" placeholder="enter description"/></label>
                <label>Receipt Image: <input type="file" name="receipt" placeholder="attach receipt image" /></label>
                <input class="btn-log" type="submit" value="Create" />
            </form>
        </div>

    </main>
</body>
</html>

