<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
     
    <main>
        <div class="container">
            <div>
                <img src="/images/ex.png">
                <p>Receipt Management</p>
            </div>
            
            <div class="index-login-container">
                <a  href="/user/signup"><button class="btn-log">Sign Up</button></a>
                <a  href="/user/login"><button class="btn-log">Login</button></a>
            </div>
        </div>
    </main>
</body>
</html>