*{
    box-sizing: border-box;
    padding: 0;
}

a {
    color: #66616a;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(175, 21, 175) 5px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
p {
    color: rgb(196, 45, 216);
    text-align: center;
    font-style: bold;
}
label{
    color: rgb(196, 45, 216);
    text-align: left;
    font-style: bold;
    padding: 10px;
    margin: 10px;
}
fieldset{
        color: rgb(148, 21, 165);
        border: solid 5px rgb(148, 21, 165);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;

}
.btn-log{
    margin: 20px;
    height: 60px;
    width: 150px;
    background-color: rgb(170, 28, 163);
    font-size: 1.5rem;
    text-align: center;
}


.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-body-container{
    display: flex;
    align-items: left;
    border: solid rgb(175, 21, 175) 5px;
    flex-direction:row;
    justify-content: space-around;
    padding: 30px;
    margin: auto;
    width: 60%;
}
h4{
    color:rgb(175, 21, 175) 5px;
    font-style: bold;
}
.btn-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.body-container input{
    width: 200px;
}
.new-body-container{
    display: flex;
    align-items: center;
    border: solid rgb(175, 21, 175) 5px;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    width: 60%;
}
.img-receipt{
    width: 25rem;
    height: 25rem;
    border: solid 5px rgb(223, 125, 223);
    margin:2px;
    transition: transform 0.3s ease;

}

.show-body-container{
    display: flex;
    align-items: left;
    border: solid rgb(175, 21, 175) 5px;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    width: 50%;
}
.show-img-container{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    justify-content:space-around;
}

.edit-body-container{
     display: flex;
    /* justify-content:  */
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    border: solid rgb(175, 21, 175) 5px;
    padding: 30px;
    margin: auto;
    width: 50%;
}

.drop-edit {
    width: 90%;
    margin-left: 15px;
}

h3{
    color: rgb(175, 21, 175);
}
h4,h3{
        transition: transform 0.3s ease;

}
h4:hover, h3:hover, .img-receipt:hover {
    transform: scale(1.1);
  }
  span{
      color: rgb(175, 21, 175);
      font-weight: bold;
  }
  .show-btn-container{
      display: flex;
      flex-direction: row;
      justify-content:space-around;

  }
  .show-body-container h4{
      margin-left: 50px;
      /* padding-left: 50px; */
  }
  .edit-frm-edit{
      margin-left: 120px;
  }
p{
    font-size: 5rem;
    color: #66616a;
}
  .link-signup{
      color: #66616a;
      font-size: 4rem;
  }
  .search-body-container{
    display: flex;
    align-items: left;
    border: solid rgb(175, 21, 175) 5px;
    flex-direction:row;
    justify-content: space-around;
    padding: 30px;
    margin: auto;
    width: 40%;
  }
  /* ==================================== */
             /*Responsive*/
  /*==================================== */
  @media screen and (max-width: 700px){
      .index-login-container{
          display: flex;
          flex-direction: column;
      }

fieldset{
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    align-items: center;
}
.btn-container{
    flex-direction: column;
    align-items: center;

}
.index-body-container{
    flex-direction: column;
}
show-body-container{
        flex-direction: column;
}
.show-body-container{
    flex-direction: column;
    padding: 1px;
    margin: 1px;
    width: 90%;
}
.edit-body-container{
    width: 90%;
}
.btn-log{
    width: 100px;
    margin: 5px;
    font-size: 8px;
}
.show-img-container{
    flex-direction: column;
}

.img-receipt{
    margin-left: 1rem;
}
.index-result{
    display: flex;
    flex-direction: column;
}
.show-btn-container{
    flex-direction: column;
    align-items: center;
}

.search-body-container{
    width: 90%;
}
  }
