
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<body >
     <main>
         <div class="container">
            <a class="link-signup" href="/">Home</a>

            <div>
                <img src="/images/signout.png">
            </div>

           <form action="/user/signup" method="post">
                        <fieldset>
                            <legend> New User </legend>
                            <label>USERNAME: <input type="text" name="username" required /></label>
                            <label>PASSWORD: <input type="password" name="password" required /></label>
                            <input class="btn-log" type="submit" value="Create Account" />
                        </fieldset>
            </form>
        </div>
    </main>
</body>
</html>